# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Ignore WordPress core
/web/*

# Ignore contrib themes (managed via composer or manually)
!/web/wp-content/
/web/wp-content/*

!/web/wp-content/themes/
/web/wp-content/themes/*
!/web/wp-content/themes/custom/
!/web/wp-content/themes/custom/**

# Ignore contrib plugins (managed via composer or manually)
!/web/wp-content/plugins/
/web/wp-content/plugins/*
!/web/wp-content/plugins/custom/
!/web/wp-content/plugins/custom/**

# Unignore must-user plugin directory and its contents
!/web/wp-content/plugins/mu-plugins/
!/web/wp-content/plugins/mu-plugins/**

# Ignore default plugin index file
/web/wp-content/plugins/index.php

# First, ignore all uploads
!/web/wp-content/uploads/
/web/wp-content/uploads/*
!/web/wp-content/uploads/civicrm/
/web/wp-content/uploads/civicrm/*
!/web/wp-content/uploads/civicrm/ext/
/web/wp-content/uploads/civicrm/ext/*
!/web/wp-content/uploads/civicrm/ext/custom/
!/web/wp-content/uploads/civicrm/ext/custom/**

# Ignore the civicrm settings file
/web/wp-content/uploads/civicrm/civicrm.settings.php
/web/wp-content/plugins/google-site-kit/dist/assets

# Cache
/web/wp-content/et-cache
/web/wp-content/et-cache/*
/web/wp-content/cache
/web/wp-content/cache/*
/web/wp-content/advanced-cache.php
/web/wp-content/wp-cache-config.php

# Log files
/wp-admin/false
*.log
*.tmp

# Ignore backup or deployment artifacts
*.bak
*.zip
*.tar.gz

# htaccess
/.htaccess

# Ignore files generated by PhpStorm
/.idea
/.well-known

# Ignore .env files as they are personal
/.env
.env

# Ignore Mac's DS Store
.DS_Store

# Composer
/vendor
